.App {
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.navbar-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0e7;
  padding: 12px 96px 12px 48px;
  position: sticky;
  top: 0;
}

.navbar-left {
  font-family: 'Imbue', serif;
  font-size: x-large;
}

.navbar-right {

}

.navbar-right ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-family: 'Inria', serif;
  font-weight: bold;
  gap: 48px;
  font-size: large;
}

.navbar-right li:hover {
  cursor: pointer;
  color: #cecec2;
  text-decoration: underline;
}

.navbar-left h2 {
  font-weight: 700;
}

.navbar-left h2:hover {
  cursor: pointer;
}

/* Home Page */

.home-page {
  width: 100%;
  height: 70vh;
  color: #f0f0e7;
  display: flex;
}

.home-page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
}

.home-page-right {
  width: 40%;
  font-family: 'Inria', serif;
  font-size: 48px;
  background-color: rgba(0,0,0,.1);
  padding: 16px;
}

.home-page-right:hover {
  background-color: rgba(0,0,0,.25);
  cursor: default;
}

.home-page-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.home-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 128px;
}

.home-socials>*:hover {
  color: #cecec2;
  cursor: pointer;
  transform: scale(1.2);
}

.github {
  font-size: 64px;
}

.home-title {
  display: flex;
  flex-direction: column;
  font-family: 'Imbue', serif;
  font-size: 128px;
  color: #f0f0e7;
}

/* About */

#about {
  height: 50vh;
  width: 100%;
}

