body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Imbue', serif;
  font-family: 'Inria Serif', serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/Creación_de_Adán.jpg');
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}
