body {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  font-family: 'Imbue', serif;
  font-family: 'Inria Serif', serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./images/Creación_de_Adán.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  caret-color: transparent;
  width: 100%;
}

@media (max-width: 900px) {
  body {
    background-image: url('./images/Creación_de_Adán_ipad.webp');
  }
}

@media(max-width: 500px) {
  body {
    background-image: url('./images/Creación_de_Adán.webp');
    background-color: rgba(24, 24, 24, 1);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}
